td {
    height: 60px;
    font-size: 25px;
    padding: 10px;
}

.default {
    width: 380px;
    height: 60px;
}

.small {
    width: 120px;
}

.smaller {
    width: 60px;
}

.up-btn {
    font-size: 40px;
    color: #ef90be;  
    transition: 0.4s;
    cursor: pointer;
    border: none;
    background-color: #fbddec;
    width: 100%;
    height: 100%;
}

.up-btn:hover {
    color: #e663a2;
}

.up {
    background-color: #fbddec;
}

.up-btn:disabled {
    opacity: 0.5;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.down-btn {
    font-size: 40px;
    color: #86baeb;  
    transition: 0.4s;
    cursor: pointer;
}

.down-btn:hover {
    color: #5e92c2;
}

.down {
    background-color: #d6ebfd;
}

.edit-btn {
    font-size: 32px;
    color: #b689f3;
    transition: 0.4s;
    cursor: pointer;
}

.edit-btn:hover {
    color: #9165d0;
}

.delete-btn {
    font-size: 32px;
    color: red;
    transition: 0.4s;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgb(162, 15, 15);
}

